################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BE_TranTinh/FileContentIndex/04525658-4143-48a7-8459-9347ccb23ddb.vsidx
